
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


body,p,h3 {margin:0;}
body,html {height:100%;}
body {font-family: 'Alata', sans-serif;}

#container {
  position:relative;
  margin:0 auto;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

#text {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:white;
  text-align:center;
}

#text img {
  width:100px;
  height:100px;
  border-radius:100px;
}

#text p,
#text h3,
#text a {
  margin:20px 0;
}

#text h3 {
  font-size:28px;
}

#text a {
	padding:15px 30px;
  display:inline-block;
  color:white;
  text-decoration:none;
  background:rgba(255,255,255,.2);
  border:2px solid white;
  border-radius:6px;
  transition:.3s ease all;
}

#text a:hover {
  background:white;
  color:gray;
}

#parallax {
  z-index:-1;
  position:fixed;
  width:100%;
  height:100%;
 background:url('https://cdn.pixabay.com/photo/2019/07/14/16/27/pen-4337521_960_720.jpg') center no-repeat transparent;
  background-size:cover;
}

#content {
	margin:0 auto;
  padding:20px;
  background:white;
}

#content p {
	margin:20px 0;
  width:98%;
}
 .container{
    width:100%;
    float:right;
  }
 
  .subcontainer{
    width:50%;
    float:left;
  }
  .subcontainer{
    width:33.33%;
    float:left;
  }
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
